*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body{
  background-color: rgb(53, 230, 230);  font-family: 'Nerko One';
}

.contenitore{
  width: 70%;
  margin: auto;
}

main{
  margin: auto;
}

footer{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

h1{
  color: white;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.carta{
  width: 250px;
  height: 300px;
  position: relative;
  float: left;
  margin: 20px 10px 20px 0;
  border-radius: 10px;
  background-image: url('../img/pattern.png');
  background-size: contain;
}

.carta-speciale{
  width: 250px;
  height: 300px;
  float: left;
  margin: 20px 10px 20px 0;
  border-radius: 10px;
  background-color: white;
}

img{
  width: 80%;
  height: 70%
}

.oggetto{
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 20px;
  display: none;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.fermata{
  color: fuchsia;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}

.carta:hover .oggetto{
  display: block;
}

.oggetto h3{
  font-size: 40px;
  color: red;
}

.oggetto h3:hover{
  color: yellow;
}

#baloon:hover{
  color: yellow;
}