*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body{
  background-color: rgb(53, 230, 230);  font-family: 'Nerko One';
}

.contenitore{
  width: 70%;
  margin: auto;
}

main{
  margin: auto;
}

h1{
  color: white;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.carta{
  width: 250px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  background-image: url('../img/pattern.png');
  background-size: contain;
}

img{
  width: 80%;
  height: 70%
}

.oggetto{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  text-align: center;
  background-color: white;
}

.carta:hover .oggetto{
  display: block;
}

.oggetto h3{
  font-size: 40px;
  color: rgb(221, 31, 31);
}

.oggetto h3:hover{
  color: yellow;
}